# Libraries

In [2]:
library(caTools)

# Read data

In [3]:
root_dir="~/Documents/Education/20170623 Udemy - Machine Learning A-Z: Hands-On Python and R in Data Science/"
work_dir="Course data/Part 1 - Data Preprocessing/Section 2 - Data preprocessing"
setwd(paste(root_dir,work_dir,sep=''))
df=read.csv('Data.csv')
str(df)
head(df)

'data.frame':	10 obs. of  4 variables:
 $ Country  : Factor w/ 3 levels "France","Germany",..: 1 3 2 3 2 1 3 1 2 1
 $ Age      : int  44 27 30 38 40 35 NA 48 50 37
 $ Salary   : int  72000 48000 54000 61000 NA 58000 52000 79000 83000 67000
 $ Purchased: Factor w/ 2 levels "No","Yes": 1 2 1 1 2 2 1 2 1 2

  Country Age Salary Purchased
1 France  44  72000  No
2 Spain   27  48000  Yes
3 Germany 30  54000  No
4 Spain   38  61000  No
5 Germany 40     NA  Yes
6 France  35  58000  Yes

# Clean up missing data

In [4]:
df$Age=ifelse(is.na(df$Age),
              mean(df$Age,na.rm=TRUE),
              df$Age)
df$Salary=ifelse(is.na(df$Salary),
                 mean(df$Salary,na.rm=TRUE),
                 df$Salary)
head(df)

  Country Age Salary   Purchased
1 France  44  72000.00 No
2 Spain   27  48000.00 Yes
3 Germany 30  54000.00 No
4 Spain   38  61000.00 No
5 Germany 40  63777.78 Yes
6 France  35  58000.00 Yes

# Categorize categorical variables

In [5]:
df$Country=factor(df$Country)
df$Purchased=factor(df$Purchased)
str(df)

'data.frame':	10 obs. of  4 variables:
 $ Country  : Factor w/ 3 levels "France","Germany",..: 1 3 2 3 2 1 3 1 2 1
 $ Age      : num  44 27 30 38 40 ...
 $ Salary   : num  72000 48000 54000 61000 63778 ...
 $ Purchased: Factor w/ 2 levels "No","Yes": 1 2 1 1 2 2 1 2 1 2

# Scale features

In [6]:
df[,c('Age','Salary')]=scale(df[,c('Age','Salary')])
head(df)

  Country Age        Salary     Purchased
1 France   0.7199314  0.7110128 No
2 Spain   -1.6236751 -1.3643758 Yes
3 Germany -1.2100975 -0.8455287 No
4 Spain   -0.1072238 -0.2402070 No
5 Germany  0.1684946  0.0000000 Yes
6 France  -0.5208015 -0.4996306 Yes

# Train/test

In [7]:
set.seed(123)
split=sample.split(df$Purchased, SplitRatio=0.8)
training_set=subset(df,split)
test_set=subset(df,!split)
print(noquote(paste('Training set:',paste(dim(training_set),collapse='x'))))
print(noquote(paste('Test set:',paste(dim(test_set),collapse='x'))))

[1] Training set: 8x4
[1] Test set: 2x4